<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>ClipStack</string>
    <key>CFBundleDisplayName</key>
    <string>ClipStack</string>
    <key>CFBundleIdentifier</key>
    <string>com.clipstack.app</string>
    <key>CFBundleVersion</key>
    <string>1.0</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0.0</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleExecutable</key>
    <string>ClipStack</string>
    <key>LSMinimumSystemVersion</key>
    <string>14.0</string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>NSServices</key>
    <array>
        <dict>
            <key>NSMenuItem</key>
            <dict>
                <key>default</key>
                <string>Save to ClipStack</string>
            </dict>
            <key>NSMessage</key>
            <string>saveSelectionToClipStack</string>
            <key>NSPortName</key>
            <string>ClipStack</string>
            <key>NSSendTypes</key>
            <array>
                <string>NSStringPboardType</string>
                <string>NSFilenamesPboardType</string>
                <string>NSTIFFPboardType</string>
                <string>NSRTFPboardType</string>
            </array>
        </dict>
        <dict>
            <key>NSMenuItem</key>
            <dict>
                <key>default</key>
                <string>Quick Paste from ClipStack</string>
            </dict>
            <key>NSMessage</key>
            <string>quickPasteFromClipStack</string>
            <key>NSPortName</key>
            <string>ClipStack</string>
            <key>NSReturnTypes</key>
            <array>
                <string>NSStringPboardType</string>
            </array>
        </dict>
        <dict>
            <key>NSMenuItem</key>
            <dict>
                <key>default</key>
                <string>Pin to ClipStack</string>
            </dict>
            <key>NSMessage</key>
            <string>pinToClipStack</string>
            <key>NSPortName</key>
            <string>ClipStack</string>
            <key>NSSendTypes</key>
            <array>
                <string>NSStringPboardType</string>
            </array>
        </dict>
    </array>
</dict>
</plist>
